@keyframes show-message {
	0% {
		transform: translateX(150%);
	}

	20% {
		transform: translate(-10%);
	}

	40% {
		transform: translate(-10%);
	}

	60% {
		transform: translate(-10%);
	}

	80% {
		transform: translate(-10%);
	}

	100% {
		transform: translate(150%);
	}
}
