.app {
	width: 100%;
	height: 100vh;
	background-color: $very-light-gray;
	@include flex-row;
	justify-content: center;
	align-items: flex-start;
	padding: 6.4rem;
}

.comment {
	padding: 2.4rem;
	width: 73rem;
	border-radius: 0.8rem;
	background-color: $white;
	@include flex-row;
}
