.app {
	width: 100%;
	background-color: $very-light-gray;
	@include flex-row;
	justify-content: center;
	align-items: flex-start;
	padding: 6.4rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.07'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
}

.comments-holder {
	@include flex-column;
	justify-content: flex-end;
	align-items: flex-end;
}

.replies-holder {
	@include flex-column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 68.5rem;
	border-left: 0.2rem solid $light-gray;
}

.comment {
	padding: 2.4rem;
	margin-bottom: 2rem;
	width: 73rem;
	border-radius: 0.8rem;
	background-color: $white;
	@include flex-row;

	&--user-details {
		width: 100%;
	}

	&--user-info {
		@include flex-row;
		justify-content: space-between;
	}

	&--data {
		@include flex-row;
		align-items: center;

		.avatar {
			width: 3.2rem;
			margin-right: 1.6rem;
		}

		.username {
			margin-right: 1.6rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: $dark-blue;

			span {
				width: 3.6rem;
				height: 1.9rem;
				border-radius: 0.2rem;
				background-color: $moderate-blue;
				color: $white;
				padding: 0.3rem 0.6rem;
				font-size: 1.3rem;
				margin-left: 0.7rem;
			}
		}

		.timestamp {
			font-size: 1.6rem;
			font-weight: 400;
			color: $grayish-blue;
		}
	}

	&--reply {
		padding: 0.5rem;
		border-radius: 0.5rem;
		@include flex-row;
		align-items: center;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 700;
		color: $moderate-blue;
		transition: all 0.2s;

		img {
			width: 1.4rem;
			margin-right: 0.8rem;
		}

		&:active {
			@include neuActive;
			transform: scale(0.9);
		}
	}

	&--comment-text {
		width: 100%;
		margin-top: 1.5rem;
		font-size: 1.6rem;
		font-weight: 400;
		color: $grayish-blue;
	}

	&--update {
		font-size: 1.6rem;
		font-weight: 500;
		@include flex-row;
		align-items: center;

		&__delete {
			margin-right: 2.4rem;
			color: $soft-red;
			@include flex-row;
			align-items: center;

			&:hover {
				cursor: pointer;
				color: $pale-red;
			}

			i {
				margin-right: 0.833rem;
			}
		}

		&__edit {
			color: $moderate-blue;
			@include flex-row;
			align-items: center;

			&:hover {
				cursor: pointer;
				color: $light-grayish-blue;
			}

			i {
				margin-right: 0.833rem;
			}
		}
	}
}

.replies {
	width: 64.2rem;
}

.new-comment {
	@include flex-row;
	align-items: flex-start;
	padding: 2.8rem 2.4rem;
	width: 73rem;
	border-radius: 0.8rem;
	background-color: $white;

	&__avatar {
		width: 4rem;
		margin-right: 1.6rem;
	}

	&__add-comment {
		width: 50.6rem;
		height: 9.6rem;
		border-radius: 0.8rem;
		border: 0.1rem solid $light-gray;
		resize: none;
		outline: none;
		transition: all 0.2s;
		padding: 1.2rem 2.4rem;
		font-size: 1.6rem;
		color: $grayish-blue;

		&:focus {
			border: 0.1rem solid $moderate-blue;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
		}
	}

	&__btn-comment {
		width: 10.4rem;
		height: 4.8rem;
		font-size: 1.6rem;
		font-weight: 600;
		color: $white;
		background-color: $moderate-blue;
		border-radius: 0.8rem;
		text-transform: uppercase;
		@include flex-row-center;
		cursor: pointer;
		transition: all 0.2s;
		margin-left: 1.6rem;

		&:hover {
			@include neuHover;
			background-color: $light-grayish-blue;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
