.app {
	width: 100%;
	background-color: $very-light-gray;
	@include flex-row;
	justify-content: center;
	align-items: flex-start;
	padding: 6.4rem;
}

.comments-holder {
	@include flex-column;
	justify-content: flex-end;
	align-items: flex-end;
}

.replies-holder {
	@include flex-column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 68.5rem;
	border-left: 0.2rem solid $light-gray;
}

.comment {
	padding: 2.4rem;
	margin-bottom: 2rem;
	width: 73rem;
	border-radius: 0.8rem;
	background-color: $white;
	@include flex-row;

	&--user-info {
		@include flex-row;
		justify-content: space-between;
	}

	&--data {
		@include flex-row;
		align-items: center;

		.avatar {
			width: 3.2rem;
			margin-right: 1.6rem;
		}

		.username {
			margin-right: 1.6rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: $dark-blue;
		}

		.timestamp {
			font-size: 1.6rem;
			font-weight: 400;
			color: $grayish-blue;
		}
	}

	&--reply {
		padding: 0.5rem;
		border-radius: 0.5rem;
		@include flex-row;
		align-items: center;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 700;
		color: $moderate-blue;
		transition: all 0.2s;

		img {
			width: 1.4rem;
			margin-right: 0.8rem;
		}

		&:active {
			@include neuActive;
			transform: scale(0.9);
		}
	}

	&--comment-text {
		margin-top: 1.5rem;
		font-size: 1.6rem;
		font-weight: 400;
		color: $grayish-blue;
	}
}

.replies {
	width: 64.2rem;
}

.new-comment {
	@include flex-row;
	align-items: flex-start;
	padding: 2.8rem 2.4rem;
	width: 73rem;
	border-radius: 0.8rem;
	background-color: $white;

	&__avatar {
		width: 4rem;
		margin-right: 1.6rem;
	}

	&__add-comment {
		width: 50.6rem;
		height: 9.6rem;
		border-radius: 0.8rem;
		border: 0.1rem solid $light-gray;
		resize: none;
		outline: none;
		transition: all 0.2s;
		padding: 1.2rem 2.4rem;
		font-size: 1.6rem;
		color: $grayish-blue;

		&:focus {
			border: 0.1rem solid $moderate-blue;
			box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
		}
	}

	&__btn-comment {
		width: 10.4rem;
		height: 4.8rem;
		font-size: 1.6rem;
		font-weight: 600;
		color: $white;
		background-color: $moderate-blue;
		border-radius: 0.8rem;
		text-transform: uppercase;
		@include flex-row-center;
		cursor: pointer;
		transition: all 0.2s;
		margin-left: 1.6rem;

		&:hover {
			@include neuHover;
			background-color: $light-grayish-blue;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
