.new-comment {
    background-color: $white;
    margin-top: 2rem;
    padding: 2.4rem;
    border-radius: .8rem;
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;

    .avatar {
        width: 4rem;
        height: 4rem;
    }
}

.blank-validation {
    outline: 2px solid $soft-red;
    color: $soft-red;
}

.comment-textarea {
    width: 100%;
    border: 1px solid #E9EBF0;
    border-radius: .8rem;
    min-height: 9.6rem;
    resize: none;
    padding: 1.2rem 2.4rem;
    line-height: 2.4rem;
    color: $grayish-blue;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;

    &:focus-visible {
        border: 2px solid $moderate-blue;
        outline: none;
    }

    &::-webkit-scrollbar {
        width: .3rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $very-light-gray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-grayish-blue;
        outline: 1px solid $light-grayish-blue;
        border-radius: 0 .8rem .8rem 0;
    }
}

.btn-send {
    border-radius: .8rem;
    background-color: $moderate-blue;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1.2rem 3.5rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $light-grayish-blue;
        @include neuHover;
    }

    &:active {
        transform: scale(0.9);
    }
}

.new-reply {
    margin-top: 0;
}

.replies-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.confirmation {
    position: fixed;
    top: 5rem;
    left: -50%;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    border: 1px solid $soft-green;
    color: $soft-green;
}

.del-confirmation {
    position: fixed;
    top: 5rem;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    right: -50%;
    border: $soft-red solid 1px;
    color: $soft-red;
}

.animate-del-confirmation {
    right: 0%;
    letter-spacing: .2rem;
    word-spacing: 1.5rem;
    padding: 1rem 3rem;
}

.animate-confirmation {
    // bottom: 5rem;
    left: 0%;
    letter-spacing: .2rem;
    word-spacing: 1.5rem;
    padding: 1rem 3rem;
}