.vote-counter {
	@include neuShadow-1;
	@include flex-column;
	justify-content: space-between;
	align-items: center;
	background-color: $very-light-gray;
	border-radius: 1rem;
	width: 4rem;
	height: 10rem;
	padding: 1rem 1.5rem;
	margin-right: 2.4rem;

	&__vote-icon {
		position: relative;
		@include flex-row-center;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		border-radius: 50%;
		transition: all 0.3s;

		img {
			width: 1rem;
		}

		&:hover {
			@include neuHover;
		}

		&:hover img {
			filter: invert(36%) sepia(67%) saturate(560%) hue-rotate(199deg)
				brightness(89%) contrast(92%);
		}

		&:active {
			@include neuActive;
			transform: scale(0.8);
		}
	}

	&__vote-count {
		font-size: 1.6rem;
		font-weight: 700;
		color: $moderate-blue;
	}
}
